#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_test:
	make md5
	make sha256
	make sha224
	make sha512
	make sha384
	make sha1
	make fuzz_lzo
	make find_nonzero
	make fmt_no
	make file_zblock
	make fiemap
	make pbkdf2
	make check_xattr_storehash
	make check_xattr_copy
	make check_lzo
	make check_lzo_algos
	make check_lzo_test
	make check_lzo_fuzz
	make check_fault
